*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fffef8;
}

.modal-btn {
  width: 150px;
  height: 36px;
  border-radius: 25px;
  background-color: #1d6154;
  color: white;
  border: none;
  font-family: Syne;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  cursor: pointer;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-container-1 {
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.modal-container-1.active {
  visibility: visible;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333333d3;
}

.modal-content {
  width: 630px;
  background: #fff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 80px 0 80px;
}

.close-modal {
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: black;
  font-weight: bold;
  background-color: #fff;
}

.modal-container-1 h2,
.modal-container-2 h2 {
  margin-top: 10px;
  font-weight: 500;
  text-align: center;
  font-family: Work Sans;
  font-weight: 400;
  font-size: 26px;
}

.galerie {
  margin-top: 40px;
}

.bouton-galerie {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  gap: 20px;
  align-items: center;
}

.ajout-photo {
  width: 55%;
  height: 36px;
  border-radius: 25px;
  background-color: #1d6154;
  color: white;
  border: none;
  font-family: Syne;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  cursor: pointer;
}

.supprimer-galerie {
  width: 50%;
  color: rgb(243, 94, 94);
  border: none;
  font-family: Syne;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  background-color: #fff;
  cursor: pointer;
}

/* Modale numéro 2 */

.modal-container-2 {
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.modal-container-2.active {
  visibility: visible;
}

.ajout-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e8f1f6;
  margin-top: 30px;
  border-radius: 5px;
}

.fa-image {
  font-size: 60px;
  color: #b9c5cc;
  padding-top: 30px;
  padding-bottom: 20px;
}

.button-ajout-photo {
  background-color: #cbd6dc;
  color: #306685;
  padding: 10px;
  width: 40%;
  border-radius: 25px;
  border: none;
  font-family: Work Sans;
  font-weight: bold;
  font-size: 14px;
}

.info-photo {
  font-size: 12px;
  font-family: Work Sans;
  padding-top: 10px;
  padding-bottom: 15px;
}

.label-information {
  display: flex;
  flex-direction: column;

  /* border: 1px solid red; */
}

label {
  font-family: Work Sans;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  margin-top: 10px;
}

input,
select {
  border: none;
  width: 95%;
  height: 50px;
  margin: 15px 0 15px 10px;
}

.separat-2 {
  margin-top: 20px;
}

.validation {
  color: #fff;
  font-family: Syne;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  background-color: #a7a7a7;
  border-radius: 25px;
  width: 50%;
  border: none;
  height: 36px;
  position: relative;
  left: 25%;
  margin: 30px 0 50px 0;
}
